<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listusers"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listcategories"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu">Catgories</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listcourses"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-cards"></i>
            </span>
            <span class="hide-menu">Courses</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listcoursecontent"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Course content</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listplans"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Subscription Plans</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listpayments"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-menu"></i>
            </span>
            <span class="hide-menu">Payments</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listcourseusers"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-list-check"></i>
            </span>
            <span class="hide-menu">Course-User</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="<%= admin %>/listplanusers"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-menu-2"></i>
            </span>
            <span class="hide-menu">Plan-User</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
