<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EduQuest - Plan-User</title>
    <%- include('partials/headerlinks.ejs') %>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <%- include('partials/sidebar.ejs') %>
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="container-fluid">
          <div class="row" id="userCardsContainer">
            <% apiData.forEach(payment => { %>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">User:</h5>
                  <p class="card-text"><%= payment.user_id.name %></p>
                  <h5 class="card-title">Plan:</h5>
                  <p class="card-text"><%= payment.subplan_id.name%></p>
                  <h5 class="card-title">Payment ID:</h5>
                  <p class="card-text"><%= payment.payment_id%></p>
                  <div class="mt-auto"></div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footerscripts.ejs') %>
  </body>
</html>
